doctype html
html(lang="en")
  head
    title Boggle
    link(href='css/style.css', rel='stylesheet')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='js/script.js')
  body
    #alert
      p
    .container
      h1 Boggle
      #instructions
        p.
          Click any letter to start!
          
        table
          tr
            td Length:
            td 3
            td 4
            td 5
            td 6
            td 7
            td 8+
          tr
            td Points:
            td 1
            td 1
            td 2
            td 3
            td 5
            td 11
      #board
        .row
          .cell#0 S
          .cell#1 E
          .cell#2 R
          .cell#3 S
        .row
          .cell#4 P
          .cell#5 A
          .cell#6 T
          .cell#7 G
        .row
          .cell#8 L
          .cell#9 I
          .cell#10 N
          .cell#11 E
        .row
          .cell#12 S
          .cell#13 E
          .cell#14 R
          .cell#15 S
      #controls
        .fourth
          #try Try it.
        .half
          #letters
        .fourth
          #score
            span 0
            |  points
      #result